<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CarList</title>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        
        <h1 class="mt-5 mb-4">Car List</h1>
        <a href="/logout" class="btn btn-primary">Logout</a>
        <table class="table">
            
            <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Condition</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                <tr th:each="car : ${cars}">
                    
                    <td th:text="${car.imagePath}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.modelyear}"></td>
                    <td th:text="${car.condition}"></td>
                    <td th:text="${car.price}"></td>
                    <td th:text="${car.category.name}"></td> 
                    <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger btn-sm" th:href="@{/delete/{id}(id=${car.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <a href="/addcar" class="btn btn-success btn-sm">Add Car</a>
        <a href="/addcategory" class="btn btn-success btn-sm">Add Category</a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>